
html {
	box-sizing: border-box;
	font-size: $font-size-mobile;
	font-family: $font-family;
	line-height: $line-height;
	min-height: 100%;
	height: 100%;
	color: $soft_green;

	@include bp(lap) {
		font-size: $font-size;
	}
}

 :focus {
 	outline: 0 !important;
    box-shadow: 0 0 5px #aaa;
 }

* {
	&,
	&::before,
	&::after {
		box-sizing: inherit;
	}
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: $teal;
}

p {
	margin-top: 0;
	margin-bottom: 15px;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: $dark_grey;

	&:hover {
		color: $dark_grey;
	}

	&.carat {

		&::after {
			@extend .fas;
			content: fa-content($fa-var-chevron-right);
			padding-left: 5px;
		}
	}
}



img {
	max-width: 100%;
	height: auto;
}

// hr {
// 	border: 0;
// 	height: 1px;
// 	background-color: $dark_grey;
// 	margin: 40px 0;
// 	clear: both;

// 	&.-small {
// 		width: 20%;
// 		margin: 40px auto;
// 	}
// }

@import 'headings';
@import 'helpers';
