
// Styles for all content sections on a white background 
// Used by news and case study articles

.article-content-container {


	// h1 - This is standard

	// styled-list is global and works for a UL.

	h2 {
		font-size: 28px;

		&.overline {
			border-top: solid 3px $brand_yellow;
			padding-top: 50px;
		}
	}





}