$mobile-snappoint: '450px';

.block-slider-container {

	position: relative;
	overflow: visible;

	padding: 0px 15px;

	@include bp($mobile-snappoint) {
		padding: 0px 40px;
	}


	.controls {
		overflow: visible;
	    margin: 0;
	    padding: 0;
	    list-style: none;
	    position: absolute;
	    left: 0;    
	    width: 100%;    
	    top: 50%;
	    transform: translatey(-50%);
	    display: flex;
	    align-items: center;    
	    justify-content: space-between;
	    color: $dark_grey;
	    
	    &:focus {
	        outline: none;
	    }

	    li:hover {
	        cursor: pointer;        
	    }

	    .prev {
	    	display: block;
	    	color: $dark_grey;

    		height: 50px;
	    	width: 20px;

	    	@include bp($mobile-snappoint) {
		    	height: 60px;
		    	width: 30px;
		    }
	    	background-image: url('../images/prev-grey.svg');
	    	background-repeat: no-repeat;

	    	&:focus {
     			outline: 0;
     			box-shadow: none;
     		}
	    }

	    .next {
	    	display: block;
	    	color: $dark_grey;
	    	
	    	height: 50px;
	    	width: 20px;

	    	@include bp($mobile-snappoint) {
		    	height: 60px;
		    	width: 30px;
		    }
	    	background-image: url('../images/next-grey.svg');
	    	background-repeat: no-repeat;

	    	&:focus {
     			outline: 0;
     			box-shadow: none;
     		}
	    }

	}



	.block-slider {
		

		// On IE11/Edge display flex conflicts with the tiny slider and the box height does not auto grow
		// so we set a max height fort these browsers instead - see below.

		// Check for not IE
		@supports not (-ms-ime-align:auto)  {
   			display: flex;
			justify-content: space-between;
			flex-direction: row;
//			background-color: green;
		}




		.block {

			

			//background-color: red;
			width: 100%;

			// On IE11/Edge display flex conflicts with the tiny slider and the box height does not auto grow
			// so we set a max height fort these browsers instead.
			// Check or MS Edge
			@supports (-ms-ime-align:auto)  {
			    height: 370px;
			    //background-color: blue;
			}


			// Check for IE11
			@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			     height: 370px;
			     //background-color: blue;
			}
			
			

			&__container {
				background-color: $brand-yellow;
				display: block;
				margin: 0 auto;

				width: 90%;
				height: 100%;

				
				padding: 20px 10px;

				@include bp($mobile-snappoint) {
					padding: 40px 40px;
				}

				&__image {
					
					//background-color: red;
					display: block;

					img {

						height: 70px;
					
						@include bp($mobile-snappoint) {
							height: 100px;
						}
						
					}
				}

				&__title {
					font-weight: bold;
					font-size: 16px;
					padding-top: 15px;
					padding-bottom: 5px;
				}

				&__text {
					display: block;
					
					margin: 0 auto;
					line-height: 1.6;
					color: $black;
					font-size: 12px;

					
					//background-color: blue;
				}

			}

		}
	}


}


