.content {



	//
	//  Styles shared by all panels
	//



	h2 {
		color: $white;
		font-family: $heading-font-family;
		font-size: 50px;
		position: relative;
		margin-bottom: 60px;

		&.no-margin {
			margin-bottom: 0px;			
		}

		&.with-stars {
			margin-bottom: 100px;
		}


		&.with-stars {
			&:after {

				content:"";
			  	position: absolute;

			  	background-image: url('../images/stars-light-blue.svg');
			  	background-size: cover;
			  	background-repeat: no-repeat;
			  	//z-index:20; 
			  	margin-left: auto; 
				margin-right: auto; 
			  	bottom: -50px;		
			  	left: 0;
			  	right: 0;	  	
			  	width: 40px;
			  	height: 20px;


			};
		}

		&.with-green-stars {
			&:after {

				content:"";
			  	position: absolute;

			  	background-image: url('../images/stars-light-green.svg');
			  	background-size: cover;
			  	background-repeat: no-repeat;
			  	//z-index:20; 
			  	margin-left: auto; 
					margin-right: auto; 
			  	bottom: -50px;		
			  	left: 0;
			  	right: 0;	  	
			  	width: 40px;
			  	height: 20px;


			};
		}
	}


	p {
		color: $soft_green;

		&.intro {
			font-size: 18px;
			margin-bottom: 50px;
		}


		&.narrow--800 {
			max-width: 800px;
			margin: 0 auto;
			display: block;
		}


		&.large-bottom {
			margin-bottom: 40px;
		}


		&.sub-heading {
			font-weight: bold;
			font-size: 22px;
			margin-bottom: 30px;
		}
	}







	//
	// Panels
	//


	&__three_image_cols {


	}


	&__panel {

		text-align: center;

		&.bottom-green {
			&:after {

				content:"";
			  	position: absolute;

			  	background-image: url('../images/header-bottom-bg.svg');
			  	background-size: cover;
			  	background-repeat: no-repeat;
			  	z-index:1000; 
			  	left:0px;
			  	
			  	right: 0px;
			  	width: 100%;
			  	
			  	height: 10px;
				bottom:-10px;

				@include bp(lap) {		
					height: 25px;
					bottom:-25px;
				}



			};



		}

		&--white {
			background-color: $white;

			text-align: center;


			h2 {
				color: $teal;
				font-size: 38px;
			}


			&:after {

				content:"";
			  	position: absolute;

			  	background-image: url('../images/white-green-panel-bottom-divider.svg');
			  	background-size: cover;
			  	background-repeat: no-repeat;
			  	z-index:1000; 
			  	left:0px;
			  	right: 0px;
			  	width: 100%;
			  	
			  	height: 10px;
				bottom:-10px;

				@include bp(lap) {		
					height: 25px;
					bottom:-25px;
				}

			};


		}


		&--blue {
			background-color: $dark_blue;


			&.top-blue {
				&:before {

					content:"";
				  	position: absolute;

				  	background-image: url('../images/blue-panel-top-divider.svg');
				  	background-size: cover;
				  	background-repeat: no-repeat;
				  	z-index:1000; 
				  	left:0px;
				  	top:0px;
				  	right: 0px;
				  	width: 100%;
				  	height: 10px;
					
					@include bp(lap) {		
						height: 25px;
					}

				};
			}

			&:after {

				content:"";
			  	position: absolute;

			  	background-image: url('../images/blue-panel-bottom-divider.svg');
			  	background-size: cover;
			  	background-repeat: no-repeat;
			  	z-index:1000; 
			  	left:0px;
			  	right: 0px;
			  	width: 100%;
			  	height: 25px;

			  	height: 10px;
				bottom:-10px;

				@include bp(lap) {		
					height: 25px;
					bottom:-25px;
				}

			};




		}


		&--purple {
			background-color: $dark_purple;

			&:before {

				content:"";
			  	position: absolute;

			  	background-image: url('../images/purple-panel-top-divider.svg');
			  	background-size: cover;
			  	background-repeat: no-repeat;
			  	z-index:1000; 
			  	left:0px;
			  	top:0px;
			  	right: 0px;
			  	width: 100%;
			  	
			  	height: 10px;
				
				@include bp(lap) {		
					height: 25px;
				}



			};

			&:after {

				content:"";
			  	position: absolute;

			  	background-image: url('../images/purple-panel-bottom-divider.svg');
			  	background-size: cover;
			  	background-repeat: no-repeat;
			  	z-index:1000; 
			  	left:0px;
			  	right: 0px;
			  	width: 100%;
			  	
			  	height: 10px;
				bottom:-10px;

				@include bp(lap) {		
					height: 25px;
					bottom:-25px;
				}

			};

			
			.intro {
				color: $white; 
				font-size: 21px;
				font-weight: bold;
				margin-bottom: 60px;

			}
			


		}

		&--soft-dark-green {

			background-color: $soft_dark_green;

			&:before {

				content:"";
			  	position: absolute;

			  	background-image: url('../images/soft-green-panel-top-divider.svg');

			  	background-size: cover;
			  	background-repeat: no-repeat;
			  	z-index:1000; 
			  	left:0px;
			  	top:0px;
			  	right: 0px;
			  	width: 100%;
			  	
			  	height: 10px;
				
				@include bp(lap) {		
					height: 25px;
				}
				

			};

			&.top-purple {
				&:before {
			  		background-image: url('../images/soft-green-purple-panel-top-divider.svg');
			  	}
			}

			&:after {

				content:"";
			  	position: absolute;

			  	background-image: url('../images/soft-green-panel-bottom-divider.svg');
			  	background-size: cover;
			  	background-repeat: no-repeat;
			  	z-index:1000; 
			  	left:0px;
			  	right: 0px;
			  	width: 100%;
			  	
			  	height: 10px;
				bottom:-10px;

				@include bp(lap) {		
					height: 25px;
					bottom:-25px;
				}

			};

			&.bottom-blue {
				&:after {
			  		background-image: url('../images/soft-green-blue-panel-bottom-divider.svg');
			  	}
			}


			h2 {
				color: $teal;
				margin-bottom: 60px;

				&:after {

				content:""; 
			  	background-image: none;
			  	height: 0px;

				};

				&.small-bottom {
					margin-bottom: 30px;
				}
			}

			p {
				color: $teal;

				&.sub-heading {
					font-weight: bold;
					font-size: 22px;
					margin-bottom: 30px;
				}
			}
		}


		


	}


	&__image-panel {

		background-image: url('../images/soft-green-panel-bottom-divider.svg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		height: 540px;
	}


	&__meal-detail {

		text-align: center;

		h1 { 
			color: $white; 
			font-size: 60px;
		}
	}


	.hit-footer-content {
		margin-top: 40px;
		color: $darker_blue;
		font-size: 16px;
	}

	.place-order-intro {
		font-size: 20px;
	}

	.place-order-phone {
		font-size: 28px;
		font-weight: bold;

		a {
			color: $soft_green;
			
			&:hover {
				color: $light_green;
			}
		}
	}

	.courier_notice {
		padding-top: 40px;
		color: $teal;
	}

	


}
