$mobile-snappoint: '450px';

.disc-slider-container {

	position: relative;
	overflow: visible;

	padding: 0px 30px;

	@include bp($mobile-snappoint) {
		padding: 0px 40px;
	}

	.controls {
		overflow: visible;
	    margin: 0;
	    padding: 0;
	    list-style: none;
	    position: absolute;
	    left: 0;    
	    width: 100%;    
	    top: 50%;
	    transform: translatey(-50%);
	    display: flex;
	    align-items: center;    
	    justify-content: space-between;
	    color: $white;
	    
	    &:focus {
	        outline: none;
	    }

	    li:hover {
	        cursor: pointer;        
	    }

	    .prev {
	    	display: block;
	    	color: $white;

    		height: 50px;
	    	width: 20px;

	    	@include bp($mobile-snappoint) {
		    	height: 60px;
		    	width: 30px;
		    }
	    	background-image: url('../images/prev.svg');

	    	&.black {
				background-image: url('../images/prev-black.svg');	    		
	    	}
	    	background-repeat: no-repeat;

	    	&:focus {
     			outline: 0!important;
     			box-shadow: none;
     		}

	    }

	    .next {
	    	display: block;
	    	color: $white;
	    	
	    	height: 50px;
	    	width: 20px;

	    	@include bp($mobile-snappoint) {
		    	height: 60px;
		    	width: 30px;
		    }
	    	background-image: url('../images/next.svg');

	    	&.black {
				background-image: url('../images/next-black.svg');	    		
	    	}

	    	background-repeat: no-repeat;

	    	&:focus {
     			outline: 0!important;
     			box-shadow: none;
     		}

	    }

	}

	.disc-slider {
		

		.disc {


			&__container {
				background-color: $brand-yellow;
				border-radius: 50%;
				display: block;
				margin: 0 auto;

				width: 230px;
				height: 230px;

				@include bp($mobile-snappoint) {
					width: 300px;
					height: 300px;
				}

				&__image {
					
					//background-color: red;
					display: block;

					padding-top: 20px;

					@include bp($mobile-snappoint) {
						padding-top: 30px;
					}

					img {

						width: 70px;
					
						@include bp($mobile-snappoint) {
							width: 100px;
						}
						
					}
				}

				&__title {
					font-weight: bold;
					font-size: 16px;
					padding-top: 15px;
					padding-bottom: 5px;
				}

				&__text {
					display: block;
					
					margin: 0 auto;
					font-size: 12px;
					line-height: 1.5;
					color: $black;

					width: 180px;
					height: 80px;

					@include bp($mobile-snappoint) {
						font-size: 13px;
						width: 220px;
						height: 100px;
						line-height: 1.6;
					}
					//background-color: blue;
				}

			}

		}
	}


}


.disc-cols-button-container {
	margin-top: 40px;
}


