.form-container {

	.promotion {
		background-color: $soft_green;
		border: 1px solid $blue;
		border-radius: 5px;
		padding: 20px;
		text-align: center;

		h2 {
			font-size: 22px;
			margin-bottom: 10px;
		}

		p {
			color: $teal;
			font-size: 16px;
			margin-bottom: 20px;
		}
	}
	//background-color: green;
	width: 100%;

	@include bp(lap) {
		display: block;
		max-width: 800px;
		margin: 0 auto;
		
	}

	
	.gform_footer.top_label {
		
		margin-top: 50px !important;
		//padding-right: 15px !important;
		text-align: center !important;
		@include bp(lap) {
			text-align: center !important;
			margin-top: 50px !important;
		}

	}

	.gform_button.button {
		


		display: inline-block;
		text-align: center;

		line-height: 1em;
		padding: 20px 28px;
		white-space: nowrap;	
		text-decoration: none;
		user-select: none;
		transition: all .3s ease-in-out;

		background-color: $soft_green;
		border: 3px solid $blue;
		box-sizing: border-box;
		box-shadow: 0px 3px 0px $blue;
		border-radius: 6px;
		color: $blue;
		text-transform: uppercase;
		font-weight: 600;
		cursor: pointer;
		font-size: 17px;
		position: relative;
		margin-bottom: 3px;

		
		&:hover {
			
			box-shadow: 0px 3px 0px $blue;
			background: $blue;
			border: solid 3px $blue;
			color: $white;
			transition: all .2s ease-in-out;
		}

		&:focus {
			outline: 0;
		}

	}


	// .light-bg {
	// 	.gform_button.button {
	// 		background-color: $mid-grey !important;
	// 		border: solid 2px $mid-grey !important;
	// 		color: $white !important;
	// 	}

	// 	.gform_footer.top_label {

	// 		@include bp(lap) {
	// 			text-align: left !important;
	// 		}
	// 	}
	// }

		
	// Error Fields	

	.validation_error {
		color: $white !important;
		border: none !important;
		//border: solid 2px $warning-red !important;
		background-color: $warning-orange !important;
		border-radius: 5px !important;
		color: white !important;
		font-weight: 500 !important;
		padding: 16px !important;
		max-width: calc(100% - 16px)!important;
		margin-top: 100px !important;
	}

	.validation_message {
		padding-top: 0px !important;
		font-weight: 200 !important;
	}



	.gfield_error .gfield_label {
		border-top: none !important;
		border-bottom: none !important;
		color: white !important; 
	}


	li.gfield.gfield_error {

		border-top: none !important;
		border-bottom: none !important;
		//background-color: rgba(255,00,00,.2) !important;
		background-color: $warning-orange !important;
		padding: 0 10px  !important;
		border-radius: 5px  !important;
		color: white !important; 

	}

	.validation_message {
		color: white !important; 	
	}


	.gform_confirmation_wrapper {
		margin-top: 0px !important;
		color: $soft_green;
		padding: 20px;
		border-radius: 5px;
		text-align: center;

		.heading {
			color: $white;
			font-weight: bold;
			margin-bottom: 10px;
			margin-top: 30px;

			&:first-child {
				margin-top: 0px;
			}
		}

		p {
			margin-bottom: 0px;
		}
	}
	// Confirmation Message
	.gform_confirmation_message {
		padding: 20px 0px !important;

	}

	.ginput_container_select {

		position: relative;


	}
	



	// Field Styling

	.gform_wrapper
	{

		.gsection {

    		border-bottom: 1px solid $soft_green !important;
    		margin-bottom: 10px !important;
    	}

		.gsection_title {
			padding-top: 30px !important;
			font-family: $font-family;
			font-size: 14px !important;
			text-transform: uppercase !important;
		}


		.gfield
		{


			.gfield_label {
				margin-top: 8px !important;
				color: $teal !important;
				font-weight: 600 !important;
				font-size: 14px !important;
			}

			.ginput_container {
				margin-top: 2px !important;
			}

			.ginput_container_radio, .ginput_container_checkbox {
				margin-top: 5px !important;
			}

			.gfield_required {
				font-size: 17px !important;	
				color: $warning-red !important;
				font-weight: 700 !important;
				display: none;
			}

			.gfield_description {
				padding-top: 0 !important;
				color: $white !important;
			}


			.ginput_container_fileupload {
				color: $white !important;	
			}

			.gfield_radio {
				> li {
					width: 50%;
					display: block !important; 
					width: 100%;

					@include bp(640px) {
						display: inline-block !important; 
						width: 50%;
					}
				}
			}

			.radio-lb {
				display: block;
				font-size: 12px;
				//background-color: red;
			}

			.gfield_checkbox {

				@include bp(lap) {
					columns: 2;
				}
			}


			input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), 
			select, 
			textarea,  {
				background-color: $light_green !important;
				border: solid 1px $teal !important;
				padding: 10px !important;
				font-size: 15px !important;
				color: $darker_blue !important;
				font-weight: 400 !important;
				width: 100% !important;
				border-radius: 6px !important; 
			}

			select {
				background-color: $light_green !important;
				border: solid 1px $teal !important;
				padding: 5px !important;
				height: 40px !important;
				max-height: 40px !important;
				text-indent: 3px;
				font-size: 15px !important;
				color: $darker_blue !important;
				font-weight: 400 !important;
				width: 100% !important;
				-webkit-appearance:none !important;
				appearance:none !important;
				border-radius: 6px !important;
				//border: solid 3px red !important;


			}

			input[type=radio] {
				// display: inline-block;
				height: 20px;
				width: auto !important;
				//transform: scale(1.2);
				margin-right: 10px;
				margin-left: 10px;
				overflow: visible;
				margin-left: 3px !important;
				font-size: 17px !important;
				color: #333 !important;
				font-weight: 500 !important;
			}

			input[type=checkbox] {
				height: 20px;
				//transform: scale(1.2);
				margin-right: 10px;
				margin-left: 10px;
				overflow: visible;
				margin-left: 3px !important;

				label {
					font-size: 18px;
				}

			}



			

		}



		
		input[type=radio] + label { font-size: 14px; padding-top: 3px !important; color: $dark_blue !important;}
		input[type=checkbox] + label { font-weight: bold; font-size: 14px; padding-top: 5px !important; color: $dark_blue !important;}

		input[type=checkbox] {


			appearance: none !important;
			outline: 0 !important;
			box-shadow: none !important;
			border: none !important;

			&:before {
				content: "";
			    flex-shrink: 0;
			    display: block;
			    width: 20px;
			    height: 20px;
			    border: 2px solid $teal;
			    background-color: $light_green;
			    background-image: none;
			    background-repeat: no-repeat;
				background-position: 50%;
			    background-size: 80%;
			    margin-right: 10px;
			    outline: 0 !important;
			    box-shadow: none !important;
			}


			&:focus {
				outline: 0 !important;
				box-shadow: none !important;	
			}

		

		}

		input[type=checkbox]:checked:before {
    		background-image: url('../images/icon-tick.svg');
    		
    		//background-color: red;

		}


		input[type=radio] {


			appearance: none !important;
			outline: 0 !important;
			box-shadow: none !important;
			border: none !important;

			&:before {
				content: "";
			    flex-shrink: 0;
			    display: block;
			    width: 20px;
			    height: 20px;
			    border: 2px solid $teal;
			    background-color: $light_green;
			    background-repeat: no-repeat;
			    background-position: 50%;
			    background-size: 80%;
			    margin-right: 10px;
			    border-radius: 50%;
			    outline: 0 !important;
			    box-shadow: none !important;
			}


			&:focus {
				outline: 0 !important;
			    box-shadow: none !important;
			}

		

		}

		input[type=radio]:checked:before {
    		background-image: url('../images/icon-tick.svg');
    		//background-color: red;

		}



	}	
}