$content-snap1: 1000px;
$content-snap2: 1165px;

.image-content-slider-container {


	//background-color: red;
	overflow: visible;

	position: relative;
	overflow: visible;
	padding: 0px 0px;

	.controls {
		overflow: visible;
	    margin: 0;
	    padding: 0;
	    list-style: none;
	    position: absolute;
	    left: 0;    
	    width: 100%;    

	    top: 25%;
	    transform: none;

	    @include bp($content-snap1) {
	    	top: 50%;
	    	transform: translatey(-50%);
	    }
	    display: flex;
	    align-items: center;    
	    justify-content: space-between;
	    color: $white;
	    z-index: 999999;
	    
	    &:focus {
	        outline: none;
	    }

	    li:hover {
	        cursor: pointer;        
	    }

	    .prev {
	    	display: block;
	    	color: $white;
	    	height: 60px;
	    	width: 30px;
	    	margin-left: 10px;
	    	background-image: url('../images/prev.svg');
	    	background-repeat: no-repeat;

	    	&:focus {
     			outline: 0;
     			box-shadow: none;
     		}

	    }

	    .next {
	    	display: block;
	    	color: $white;
	    	height: 60px;
	    	width: 30px;
	    	margin-right: 10px;
	    	background-image: url('../images/next.svg');
	    	background-repeat: no-repeat;

	    	&:focus {
     			outline: 0;
     			box-shadow: none;
     		}

	    }

	}

	.image-content-slider {
		
		overflow: visible;

		//background-color: green;

		.content-section {

			&__container {


				display: block;
				padding: 0px 0px 30px;

				@include bp($content-snap1) {
					display: flex;
					justify-content: space-between;
					padding: 0px;
				}

			//	background-color: yellow;

				

				&__image {
					
					display: block;

					@include bp($content-snap1) {
						flex: 1 1 50%;
						
					}


					&--circle {
						padding: 60px;

					}

					img {
						
						width: 100%;
						display: block;

						&.circle {
							background-color: white;
							max-width: 280px;
							border-radius: 50%;
							margin: 0 auto;
						}

					}

					
				}

				&__content {

					display: block;
					width: 100%;
					padding: 20px 20px 30px;

					&.circle {
						padding-top: 0px;
						text-align: center;
					}

					h2 {
						margin-bottom: 20px;
					}
					
					@include bp($content-snap1) {
						flex: 1 1 50%;
						padding: 40px 40px 0px;
						padding-right: 80px;

						&.circle {

							padding: 60px 40px 0px;
							padding-left: 0px;
							padding-right: 100px;
							text-align: left;
						}
					}

					@include bp($content-snap2) {
						flex: 1 1 50%;
						padding: 60px;
						padding-right: 70px;

						&.circle {

							padding-left: 0px;
							padding-right: 100px;
							text-align: left;
						}

					}


					color: $white;

					.intro {
						font-weight: 700;
						margin-bottom: 5px;
						font-size: 14px;

						&--circle {
							color: $brand_yellow;
						}
					}

					p {
						font-size: 14px;
					}

				}

			}

		}
	}


}


