.meal-panel {

	background-color: $white;
	border-radius: 4px;
	padding: 10px;
	height: 100%;


	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&__image {
		
		flex: 0 0 auto;
		position: relative;
		overflow: hidden;


		img {
			width: 100%;
			display: block;
		}

		&.with-margin {
			margin-bottom: 20px;
		}

		
	}

	&__available-tag {
		background-color: red;
		color: white;
	    position: absolute;
	    top: -45px;
	    right: -95px;
	    padding: 70px 60px 0px;
	    font-size: 11px;
	    text-transform: uppercase;
	    font-weight: bold;
	    transform: rotate(45deg);
	    height: 100px;
	    width: 200px;
	    line-height: 1.2;
	}

	&__stats {
		background-color: $slate2;
		margin-bottom: 20px;

		display: flex;
		justify-content: space-between;

		&__col {
			flex: 0 0 33%;

			padding: 3px 0px;

			.stat-container {

				display: flex;
				justify-content: space-between;

				&__col1 {
					flex: 0 0 35px;
					img {
						display: block;
						width: 100%;
					}

					padding-left: 5px;
					padding-top: 5px;
					padding-bottom: 5px;
				}

				&__col2 {
					flex: 1 1 auto;
					//background-color: yellow;
					&--border {
						border-right: solid 1px $white;
					}
					padding-left: 7px;
					padding-top: 7px;
					padding-bottom: 7px;
				

					.stat-info-container {

						display: flex;
						flex-direction: column;
						justify-content: space-between;

						&__col1 {
							text-align: left;

							font-size: 7px;
							@include bp(400px) {
								font-size: 8px;
							}
							

							text-transform: uppercase;
							letter-spacing: 0.04em;
							font-weight: 900;
							color: $teal;
							line-height: 1;
							margin-bottom: 4px;
						}

						&__col2 {
							text-align: left;

							
							

							font-size: 12px;

							@include bp(400px) {
								font-size: 16px;
							}

							

							@include bp(1200px) {
								font-size: 12px;
							}
							

							@include bp(1300px) {
								font-size: 14px;
							}
							text-transform: uppercase;
							font-weight: 300;
							color: $teal;
							line-height: 1;
						}

					}

				}

			}

		}


	}

	&__content {

		flex: 1 1 100%;

		h2 {
			font-weight: 400;
			font-family: $heading-font-family;
			color: $dark_blue;
			text-align: center;
			font-size: 38px;
			margin-bottom: 10px;
		}

		.summary {
			color: $slate;
			font-size: 18px;
			font-style: italic;
		}

		.price {
			color: $slate;
			font-size: 18px;
		}
	}

	&__cta {

		flex: 0 0 60px;
		height: 60px;


	}


	&__accordion-cta {

		flex: 0 0 60px;
		height: 60px;


	}



	// Variations for small meal panel

	&--small {

		//background-color: red;
		//border: solid 1px red;
		
		.meal-panel__content {

			h2 {
				font-size: 22px;
			}

			.summary {
				font-size: 15px;
				line-height: 1.3;
			}

		}


		.m-stats {


			&__col {

				.stat-container {

					&__col1 {
						flex: 0 0 25px;
					}

					&__col2 {

						.stat-info-container {

							&__col1 {

								font-size: 10px;
								@include bp(400px) {
									font-size: 9px;
								}

							}

							&__col2 {
								

								font-size: 12px;

								@include bp(400px) {
									font-size: 12px;
								}

								@include bp(600px) {
									font-size: 12px;
								}

								@include bp(1200px) {
									font-size: 12px;
								}
								

								@include bp(1300px) {
									font-size: 12px;
								}
							}

						}

					}

				}

			}


		}


	}

}