$lap-snap: 900px;

.more-articles {

	border-top: solid 3px $brand-yellow;

	&.no-top-border {
		border-top: none;
		padding-top: 0px;
	}

	padding-top: 50px;

	h2 {
		text-align: center;
	}



	&__list {


		display: block;
		width: 100%;

		@include bp($lap-snap) {

			display: flex;
			justify-content: space-between;

		}

		



		&__article {

			

			display: block;  
			margin-bottom: 50px;

			margin-left: 0px;
			margin-right: 0px;
			transition: opacity .3s linear;

//			background-color: green;

			@include bp($lap-snap) {
				flex: 0 0 calc(33.33% -40px);
				margin-bottom: 0px;

				margin-right: 60px;

				&:nth-child(3n)
				{
					margin-right: 0px;
				}

				
				display: flex;
				flex-direction: column;
				justify-content: space-between;
//				background-color: blue;

			
			}

			&__category {
				background-color: $mid-grey;
				padding: 5px;
				color: $white;
				font-size: 12px;
				text-transform: uppercase;
				text-align: center;
				font-weight: 600;
			}

			&__image {


				//padding-bottom: 66.66%;
				background-color: #ccc;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				
				display: block;
				height: 200px;


				@include bp($lap-snap) {
					flex: 0 0 175px;
					height: 175px;
				}


				position: relative;
				overflow: hidden;

				&::after {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					background: linear-gradient(0deg,rgba(0,0,0,.35),transparent 75%);
					opacity: 1;
					transition: opacity .3s linear;
					z-index: 10;
				}

				&:hover {
					&::after {
						opacity: 0;
					}
				}


			}

			&__content {
				

				flex: 1 1 auto;

				display: flex;
				justify-content: space-between;
				flex-direction: column;

				padding: 20px 0px 0px;
//				background-color: yellow;
				

				&__title {

					flex: 1 1 auto;
					color: $c-body-text;
					font-weight: 600;
					text-align: center;
					font-size: 20px;
					line-height: 1.3em;
					margin: 0 0 20px;

//					background-color: blue;

				}

				&__link {
					flex: 0 0 30px;
//					background-color: green;
					text-align: center;

				}


			}
			
			


			

		}

	}
	

}