
.sidebar {


	&__images-group {

		width: 100%;

		&__image {

			margin-bottom: 40px;
			img {
				display: block;
				width: 100%;
			}
		}


	}




	&__bullets-group {
		background-color: $mid-grey;
		color: $white;
		padding: 30px;
		border-bottom: solid 3px $brand_yellow;
		margin-bottom: 40px;

		h3 {
			color: $brand_yellow;
			font-size: 26px;
			font-weight: 600;
			margin-bottom: 30px;
		}
	}





	&__quote-group {
		background-color: $brand_yellow;
		padding: 30px;
		margin-bottom: 0px;

		text-align: center;

		.quote {
			color: $c-body-dark_text;
			font-size: 18px;
		}

		.quote-by {
			color: $c-body-dark_text;
			font-style: italic;
			font-weight: 600;
			font-size: 18px;
		}


		&__tag {
			margin-bottom: 40px;
			transform: scaleX(-1);
		}
		
	}




}