$team-cols-snap1: 500px;
$team-cols-snap2: 850px;

.team-cols-container {

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	overflow: visible;



	&__col {

		flex: 1 1 100%;
		margin-bottom: 30px;
		overflow: visible;



		@include bp($team-cols-snap1) {
			flex: 0 0 50%;
			margin-bottom: 30px;
		}

		@include bp($team-cols-snap2) {
			flex: 0 0 33%;
			margin-bottom: 30px;
		}
		

		//background-color: green;
		position: relative;
		overflow: visible;

		&__image {


			position: relative;

			img {
				height: 160px;
				display: block;
				margin: 0 auto;
				//z-index: 20;
				overflow: hidden;
				pointer-events: none;
			}

			margin-bottom: 20px;
			z-index: 10;
		}

		&__rollover {

			background-color: $brand_yellow;
			display: none;
			padding: 20px;

			background-image: url('../images/yellow-bg-corner.jpg');
			background-repeat: no-repeat;
			background-position: 100% 0px;
			background-size: 80%;
			margin-bottom: 50px;
			margin-top: -100px;
			padding-top: 90px;

			@include bp($team-cols-snap1) {
				position: absolute;
				top: 100px;
				left: 0;
				padding-top: 70px;
				margin-top: 0px;
				margin-bottom: 0px;
			}	
			
			
			font-size: 12px;
			line-height: 1.4;
			z-index: 30;
			pointer-events: none;
			box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.1);

		}
		



		h3 {
			display: block;
			text-align: center;
			font-size: 16px;
			margin: 10px auto 5px;
			max-width: 400px;

			&.rollover {
				display: none;

				@include bp($team-cols-snap1) {
					display: block;
				}
			}
			
		}

		.job-title {

			text-align: center;
			margin: 0px auto;
			max-width: 150px;
			font-size: 14px;
			font-style: italic;
			line-height: 1.5;
			margin-bottom: 10px;

			&.rollover {
				display: none;

				@include bp($team-cols-snap1) {
					display: block;
				}
			}
		}


	}
	
}