$wobbly-cols-snap1: 600px;
$wobbly-cols-snap2: 1190px;

.wobbly-cols-container {

	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	// @include bp($wobbly-cols-snap1) {
	// 	display: flex;
	// 	justify-content: center;
	// 	flex-wrap: wrap;
	// }

	// @include bp($wobbly-cols-snap2) {
	// 	display: flex;
	// 	justify-content: center;
	// 	flex-wrap: wrap;
	// }
	
	&--narrow {
		max-width: 700px;
		margin: 0 auto;
	}


	.wobbly-cols-container__col {

		// Mobile
		// display: block;
		// width: 100%;
		// margin-bottom: 30px;
		// &:last-child { margin-bottom: 0px; }

		flex: 0 0 140px;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 30px;

		@include bp($wobbly-cols-snap1) {
			flex: 0 0 140px;
			margin-bottom: 30px;
		}

		@include bp($wobbly-cols-snap2) {
			flex: 0 0 140px;
			margin-bottom: 0px;

			// &:nth-child(even) {
			// 	padding-top: 50px;
			// }
		}
		

		

		
		&__image {

			img {
				max-width: 100px;
				display: block;
				margin: 0 auto;
			}

			margin-bottom: 10px;
		}

		
		h3 {

			text-align: center;
			font-size: 15px;
			margin-bottom: 0px;
			
		}



	}
	
}